<%- model_class = Person -%>
<div class="page-header">
  <h1>ユーザ名編集</h1>
</div>
<%= form_for @person, method: :patch do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
  <%= f.submit %>
<% end %>
